{% extends "base.html" %}
            {% block content %}
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Max</th>
                        <th>Avg</th>
                        <th>Min</th>
                    </tr>
                    <tr>
                        <td>{{ today_aggregation_values.temp_value__max }}°C</td>
                        <td>{{ today_aggregation_values.temp_value__avg }}°C</td>
                        <td>{{ today_aggregation_values.temp_value__min }}°C</td>
                    </tr>
                </table>

                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Data</th>
                        <th>Godzina</th>
                        <th>Temperatura</th>
                    </tr>
                    {% for measurments in today_temp_measur %}
                    <tr>
                        <td>{{measurments.tepm_measurment_data}}</td>
                        <td>{{measurments.temp_measurment_time}}</td>
                        <td>{{measurments.temp_value}}°C</td>
                    </tr>
                    {% endfor %}
                </table>
                <span class="pull-left"><a href="{% url 'main' %}"><button type="button" class="btn btn-warning">Return</button></a></span>
                <span class="pull-right"><a href="{% url 'history' %}"><button type="button" class="btn btn-info">Historical Measurments</button></a></span>
            {% endblock %}
