<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Temperatur Log</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
        table td {
            text-align:center !important;
            vertical-align:middle !important;
        }
        table th {
            text-align:center !important;
            vertical-align:middle !important;
        }
    </style>
  </head>
  <body>
    <div class="container-fluid"">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">

                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Max</th>
                        <th>Avg</th>
                        <th>Min</th>
                    </tr>
                    <tr>
                        <td>{{ today_aggregation_values.temp_value__max }}°C</td>
                        <td>{{ today_aggregation_values.temp_value__avg }}°C</td>
                        <td>{{ today_aggregation_values.temp_value__min }}°C</td>
                    </tr>
                </table>

                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Data</th>
                        <th>Godzina</th>
                        <th>Temperatura</th>
                    </tr>
                    {% for measurments in today_temp_measur %}
                    <tr>
                        <td>{{measurments.tepm_measurment_data}}</td>
                        <td>{{measurments.temp_measurment_time}}</td>
                        <td>{{measurments.temp_value}}°C</td>
                    </tr>
                    {% endfor %}
                </table>
                <span class="pull-left"><a href="{% url 'main' %}"><button type="button" class="btn btn-warning">Return</button></a></span>
                <span class="pull-right"><button type="button" class="btn btn-info">Historical Measurments</button></span>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>